
<div>
    <jhi-alert></jhi-alert>
    <div ng-cloak>
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-toolbar">
                    <button class="btn btn-primary" ui-sref="calendar-event.new" >
                        <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="organiseItApp.calendarEvent.home.createLabel">
                        Create new event
                    </span>
                    </button>
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="changeView('agendaDay', 'myCalendar1')">Dzień</button>
                        <button class="btn btn-primary" ng-click="changeView('agendaWeek', 'myCalendar1')">Tydzień</button>
                        <button class="btn btn-primary" ng-click="changeView('month', 'myCalendar1')">Miesiąc</button>
                    </div>
                </div>
                <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
            </div>
        </div>
    </div>
</div>
